# Block access all
# Deny from All

# Enabled access only ip
# Order deny, allow
# Deny from All
# Allow from xxx.xxx.xxx.xxx

# Prevent Direct Access to files
<FilesMatch "(?i)((\.inc|\.exe|\.bat|\.sh|\.service|\.tpl|\.ini|\.log|\.gitignore|(?<!robots)\.txt))$">
	Require all denied
</FilesMatch>

#Options -Indexes
#IndexIngnore *

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#RewriteCond %{ENV:REDIRECT_STATUS} ^$
#RewriteCond %{QUERY_STRING} ^parent=(\w+)&sub=([\w-]+)$
#RewriteRule ^Category\.php$ /category/%1/%2? [R=301,L]

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType text/javascript "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
</IfModule>
